<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
  	<div class="row">
      <div class="col-md-8"><h1>New Entry</h1></div>
      <div class="col-md-4" style="margin-top: 20px;">
        <%= link_to 'Back', entries_path, :class => "btn btn-primary" %>
      </div>
    </div>
  	

	<%= render 'form', entry: @entry %>

	
  </div>
</div>


